.shop-container {
	margin-left: 25px;
}

.shop-image {
	width: 100%;
	height: auto;
	max-width: 250px;
}

.shop-text {
	color: #4a57ee;
	margin-top: 0;
	padding-top: 0;
}

.shop-text:hover {
	cursor: pointer;
	color: #4d5cf7;
}
