.sponsor-container {
	margin-left: 15px;
}

.sponsor-button {
	width: 90%;
	height: 35px;
	background-color: gainsboro;
	border: none;
	margin-bottom: 20px;
	cursor: pointer;
}

.sponsor-button:hover {
	background-color: #d1d0d0;
}

.sponsor-image {
	width: 100%;
	height: auto;
	max-width: 150px;
}
