.discuss-header {
	margin-left: 40px;
	margin-bottom: 0px;
}

.discuss-list {
	margin-bottom: 5px;
	list-style: none;
}

.discuss-list::before {
	content: "\2022";
	color: #66e2d5;
	font-weight: bold;
	display: inline-block;
	margin-right: 2px;
	font-size: 2em;
}

.discuss-small-list {
	font-size: 12px;
}
