.sidebar-lists {
	padding-left: 18px;
}

.sidebar-list {
	list-style: none;
	line-height: 2;
	cursor: pointer;
	padding: 3px;
	width: 90%;
}

.sidebar-list:hover {
	background-color: #e0e0e0;
}

.sidebar-list:hover {
	color: #3b49df;
}

.list-icons {
	margin-right: 15px;
}

.collapse {
	display: none;
}

.collapse.show {
	display: block;
}

.read-more {
	color: grey;
	margin-left: 37px;
	margin-top: 5px;
	cursor: pointer;
}
