.main-content-container {
	width: 50%;
}

/* tablet screen */
@media only screen and (max-width: 768px) {
	.main-content-container {
		width: 100%;
	}

	.sidebar-container {
		width: 37vw;
	}
}

/* mobile screen */
@media only screen and (max-width: 600px) {
	.main-content-container {
		width: 100%;
	}

	.sidebar-container {
		width: 80vw;
	}
}
