.sidebar-right-container {
	width: 22%;
	margin-right: 30px;
}

.sidebar-left-button {
	background-color: blue;
	color: white;
	border: none;
	height: 45px;
	width: 92%;
	border-radius: 20px;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
	cursor: pointer;
}

.sidebar-left-button:hover {
	background-color: #4a4aff;
	text-decoration: underline;
}

.card {
	width: 300px;
	height: 195px;
	display: flex;
	flex-direction: column;
	border: 1px blue solid;
	margin-top: 15px;
	box-shadow: 5px 5px blue;
}

.card-header {
	height: 30%;
	background: blue;
	color: white;
	text-align: center;
}

/* mobile screen */
@media only screen and (max-width: 600px) {
	.card {
		width: auto;
	}
}
