.topnav {
	overflow: hidden;
	background-color: white;
	position: fixed;
	width: 100%;
	padding-bottom: 5px;
	box-shadow: 0px 0px 0.5px 0.5px #888888;
	display: flex;
	justify-content: flex-end;
}

.topnav a {
	color: black;
	text-align: center;
	padding: 2px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav input[type="text"] {
	padding: 6px;
	border: 1px gray solid;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	background-color: whitesmoke;
	width: 30%;
	height: 27px;
	margin-right: auto;
}

.topnav button {
	background-color: #3b49df;
	color: white;
	border: none;
	height: 40px;
	width: 120px;
	font-size: 16px;
	cursor: pointer;
	margin: 5px 20px 0 20px;
}

.topnav button:hover {
	background-color: #0000ce;
}

.nav-icons {
	font-size: 23px;
	padding: 15px;
}

.nav-icons:hover {
	cursor: pointer;
	background-color: #f4f4f4;
	border-radius: 50%;
}

.logo {
	margin-right: auto;
}

/* tablet screens*/
@media only screen and (max-width: 768px) {
	.topnav button {
		margin-left: 10px;
		margin-right: 0;
	}

	.topnav input[type="text"] {
		width: 53%;
		margin: 5px 0 0 5px;
	}

	.logo {
		margin-left: 5px;
		margin-top: 1px;
	}

	.nav-icons {
		font-size: 23px;
		margin: 10px 20px 0 20px;
		padding: 0;
	}
}

/* mobile screens*/
@media only screen and (max-width: 600px) {
	.topnav button {
		display: none;
	}

	.nav-icons {
		margin: 15px;
		padding: 0;
		font-size: 20px;
	}

	.logo {
		position: relative;
		left: 2px;
	}

	.topnav input[type="text"] {
		margin: 5px 0 0px 7px;
		width: 92%;
		height: 30px;
	}

	.topnav a {
		padding: 1px 1px 1px 3px;
	}
}
