.nav-article-list,
.nav-article-line {
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 5px 9px 5px 9px;
}

.nav-article-container {
	margin-left: 90px;
}

.nav-article-ul {
	padding-left: 0;
}

.nav-article-line {
	color: gainsboro;
}

.nav-article-list:hover {
	background-color: #4e57ef;
	box-shadow: 3px 3px #cfd7ff;
	color: white;
	cursor: pointer;
}

.active {
	background-color: #cfd7ff;
	border: 1px #4e57ef solid;
	box-shadow: 3px 3px #4e57ef;
}

.active:hover {
	background-color: #4e57ef;
	border: 1px #cfd7ff solid;
	box-shadow: 3px 3px #cfd7ff;
	color: white;
}

.nav-article-line {
	cursor: default;
}
