.sidebar-right-container {
	margin-left: auto;
}

/* mobile screen */
@media only screen and (max-width: 600px) {
	.sidebar-right-container {
		display: none;
	}
}

/* tablet screen */
@media only screen and (max-width: 768px) {
	.sidebar-right-container {
		display: none;
	}
}
