.event-container {
	margin-left: 25px;
	margin-top: 25px;
}

.event-image {
	width: 100%;
	height: auto;
	max-width: 250px;
	border: 1px solid #ff8dcf;
}

.event-card-text {
	color: #3b49df;
	text-align: center;
	margin-top: 1px;
}

.event-card-text:hover {
	cursor: pointer;
	color: #4d5cf7;
}
